data-view-item {
    
    position: absolute;
    display: block;
    /* margin : 5px 2px; */
    min-height : 30px;
    max-height : 30px;
    background-color : rgba(240,240,240,0.9);
    color : rgb(55,55,55);
    box-shadow : 2px 2px 2px rgb(55,55,55);
}

