.mormo-time-element {
    border-width: 5px;
    text-align: left;
    border-style: none;
    border-left-style: solid;
    border-color: black;
    position: absolute;
    box-sizing: border-box;
    font-family: sans-serif;
    /* timeElement.style.borderWidth = 'none '
            timeElement.style.borderStyle = 'none'
            timeElement.style.borderLeftStyle = 'solid'
            timeElement.style.borderColor = 'Black' */
}
.mormo-timeline {
    position: relative;
    width: fit-content;
    overflow: hidden auto;
}
.mormo-inner-container {
    position: relative;
}
